.text   {
    font-family:    Arial, Helvetica, sans-serif;
}

/*
main    {
    border-style:   solid;
    border-width:   1px;
    border-color:   grey;
}
*/

div {
    display:        inline;
}

h1  {
    text-align:     center;
}

h2  {
    display:        inline;
    break-before:   always;
}

h3  {
    display:        inline;
    break-before:   always;
}